# from my.telegram.org/apps
API_ID= 37167486
API_HASH= 4110067d89bd1b5f43171e67e67aa01f

# from @BotFather on telegram
BOT_TOKEN= 8648105676:AAE9wkZN1nSSccGbJhb6-Gy8aRvZx3_zGz8
LOGGER_ID= -1003401639448

# mongo url from cloud.mongodb.com
MONGO_URL= mongodb+srv://Musicbot:musicbot123@cluster0.njyarc8.mongodb.net/?appName=Cluster0

OWNER_ID= 7065156396

# pyrogram session from @StringFatherBot on telegram
SESSION=BQIOQBkALO5M6EohKhXDvb5itiAz-au39qafnT9DhiuqCwQwTGVFnGBWMoZqqqNTa6hzv12gn6cpHIg52TU6IqsXcjMx5UcZe3ExpaoNyea97z4AnCWKBKLvkfT8xdo9-77xSnCaIAChCsROBINjWrsNVuw6_WiXl5IaSQk8rSLehvlV4lr3XqSBzbjADWVV4fmdDrpzdARkYF0YJ1SWIiU34s3VIr54koke8HTXz8vUuH-uxVVhMzyOyEFEco9n6PYNsL6hdZnckVLtotqevboSUUkLzQ9a3CWWe0v4zt4HETUzfvuoMjOqlT_SpHq7W3mDs_Fn-61egF-EXpW04n3Kh2r9AAAAAAFu6LX0AA
